{% extends '../base.html' %}
{% load static %}

{% block title %}Войти в аккаунт{% endblock %}

{% block link %}{% static 'css/login.css' %}{% endblock %}

{% block content %}

    <div class="login-container">
        <h1 class="hero">Вход</h1>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Имя пользователя:</label>
                <input type="text" name="username" id="id_username" required>
            </div>
            <div class="form-group">
                <label for="id_password">Пароль:</label>
                <input type="password" name="password" id="id_password" required>
            </div>
            <button type="submit">Войти</button>
        </form>

        {% if messages %}
            {% for message in messages %}
                <p class="error-message">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <a href="{% url 'register' %}">Нет аккаунта? Зарегистрироваться</a>
    </div>
{% endblock %}