<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href='/static/css/base.css'>
        <link rel="stylesheet" href='{% block link %}{% endblock %}'>
    </head>
    <body>
        <header>
            <a class="logo" href="/">MyMovies</a>
            <!-- {% for genre in genres %}
                <a href="/" class="genre">
                    <h2>{{ genre.name }}</h2>
                </a>
            {% endfor %} -->

            <div class="null"></div>
            <nav>
                {% if user.is_authenticated %}
                    <a href="{% url 'add_movie' %}" class="btn-add">+ Добавить фильм</a>
                    <a href="{% url 'logout' %}" class="btn-logout">Выйти</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn-logout">Войти</a>
                {% endif %}
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>&copy; 2025 MyMovies. Все права защищены.</p>
        </footer>

        <script src="{% block js %}{% endblock %}"></script>
    </body>
</html>