{% extends 'base.html' %}
{% load static %}

        <link rel="stylesheet" href="{% static 'css/movie_detail.css' %}">
        
{% block title %}{{ movie.title }} — Детали{% endblock %}

{% block link %}{% static 'css/movie_detail.css' %}{% endblock %}

{% block content %}
    <div class="hero">
        <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="poster-large">
        <div class="details">
            <h1>{{ movie.title }}</h1>
            <div class="meta">{{ movie.director }} • {{ movie.release_year }} • {{ movie.genre }}</div>
            <div class="rating">★ {{ movie.rating }}</div>
            {% if movie.description %}
                <div class="description">{{ movie.description }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}